# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.pyc
.pytest_cache

# Virtual environment
venv/

# Database files
*.db

# VSCode settings (optional, unless you want them shared)
.vscode/

# Virtual environment
venv/

